$danger: #f8d7da;
$dangerText: #721c24;
$dangerBorder: #f5c6cb;

$success: #d4edda;
$successColor: #155759;
$successBorder: #c3e6cb;

$info: #d1ecf1;
$infoColor: #0c548e;
$infoBorder: #bee5eb;

$warning: #fff3cd;
$warningColor: #b87a04;
$warningBorder: #ffeeba;

$primary: #cce5ff;
$primaryColor: #004085;
$primaryBorder: #b8daff;

$lightGray: #f7f7f9;
$gray: #e2e3e5;
$darkGray: #6c6f73;
$grayBorder: #d6d8db;

$lightBlue: #edf2fa;
$lighterBlue: #f9fbfd;
$black: #444746;
$white: #fff;
